[
  {
    "label": "File Finder (fd+fzf)",
    "command": "{{ .zed.fileSearchCmd }}",
    "cwd": "${ZED_WORKTREE_ROOT}",
    "hide": "always",
    "allow_concurrent_runs": true,
    "use_new_terminal": true,
    "shell": {
      "with_arguments": {
        "program": "/bin/bash",
        "args": ["--noprofile", "--norc", "-c"]
      }
    }
  }
]