{{ output (includeTemplate "editor-sync-cmd" .) "render" "--source" (joinPath .chezmoi.sourceDir ".editor-config") "--host" (includeTemplate "editor-sync-host" .) "vscode" "snippets" "shellscript" -}}
